*{
    margin: 0%;
    padding: 0%;
}
header{
    padding-top:30px;
    padding-bottom:30px;
    background-color: cadetblue;

    position: relative;        /* referencia para posicionar la caja */
    display: flex;
    justify-content: center;   /* centra el logo */
}

.logo{
    border-radius:100%;
    transition: transform 0.5s;
}

.logo:hover{
    transform: rotate(360deg);
}

.caja{
  width:20%;
  height:16%;
  background:red;
  justify-content: space-between;
align-items: center;
  position:absolute;
  top:0;
  right:0;   /* esquina superior derecha */
}

main{
    background-color: lightblue;

}
footer{
    background-color: darkolivegreen;
}